*.iml
.gradle
/local.properties
.idea
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
.idea/vcs.xml
.idea/misc.xml
.idea/gradle.xml
.idea/deploymentTargetDropDown.xml
.idea/compiler.xml
.idea/.name
